*{text-align: center;}
header{
    text-align:center;
    background-color: rgb(38, 38, 184);
    padding: 20px;
    color: aliceblue;
    margin-bottom:  20px;
    
}
#headerid{font-size: 50px;

}
.header-content{color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin:10px;

}
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
#profile-photo {
    border-radius:50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
}
#tagline {
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
table th, #table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
table thead tr {
    background-color: grey;
    color: #fff;
}
#contact h3 {
    background-color: #ffe4c4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #333;
}
.contact-form {
    background-color: azure;
    padding: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}
.submit-btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    text-align: center;
}

#button2 {
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    text-align: right;
    position:fixed;
    right: 40px;
    bottom:auto;
    position: absolute;
    z-index: 100;
}

.main-footer {
    box-sizing: content-box;
    background-color: rgb(245, 212, 164);
    text-align: center;
    font-size: 0.9em;
    color: #666;
    padding: 10px 0;
}




