body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #1c1b1b;
}
header, footer {
    text-align: center;
    padding: 10px;
    background-color: azure;
    
}
h2 {
color: #f2f2f2;

}
h1, h2, h3 {
    color: #000000;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
ul {
    list-style-type: square;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}